* {
    justify-content: center;
    align-items: center;
}

div {
    justify-content: center;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    padding-left: 30%;
    padding-top: 10%;
    align-items: center;
    border: 1px rgb(188, 183, 183);
    padding-right: 26%;
}

h1 {
    height: 70px;
    font-size: 30px;
    align-items: center;
    text-decoration: solid;
    text-align: center;
}

p {
    height: 90px;
    font-size: 10px;
    text-align: center;
    color: #ccc;
    padding-top: 30%;
}